html {
	margin: 0px;
	height: 100%;
	width: 100%;
 }
body {
	background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
	font-family: Arial, sans-serif;	
	margin: 0px;
	min-height: 100%;
	width: 100%;
 }
.login-box, .signup-box{
	width: 380px;
	margin: auto;
	background: #f695f1;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

h2{
	text-align: center;
	margin-bottom: 20px;
}

input[type="text"], input[type="email"]{
	background-color: rgb(255, 225, 255);
	width: 350px;
	padding: 12px;
	border-radius: 5px;
	border: none;
	margin-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #b843fb;
	border-bottom-width: 4px;
	
}
input[type="password"]{
	width: 350px;
	padding: 12px;
	border-radius: 5px;
	border:none;
	margin-bottom: 0px;
	background-color: rgb(255, 225, 255);
	border-bottom-style: solid;
	border-bottom-color: #b843fb;
	border-bottom-width: 4px;
}
input[type="submit"]{
	background: #14ca60;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 15px;
}

p{
	margin-bottom: 5px;
}

a{
	color: #038539;
	text-decoration: none;
	font-weight:bold;
	
}
.signup-box,.login-box{
   margin-top: 125px;
   scale: 125%;
   
}
.signup-box #pass_err,#username_err{
	font-size: 10px;
	color: rgb(206, 3, 3);
	display:none;
    margin-top: 0px;
	padding-left: 6px;
	padding-top: 4px;
	padding: 4px;
	width: 400px;
	background-color: rgb(255, 124, 12,0.3);
	font-family:Verdana, Geneva, Tahoma, sans-serif
}

